body{
  background-color:rgb(7, 8, 1);
}

.title{
  color:red;
  text-align:center;
}

form{
  color:white;
  margin-top:12%;
  text-align:center;
}

.nome{
  color:greenyellow;
  margin-left:-2%;
}

.email{
  color:greenyellow;
  margin-left:-1.2%;
}

.mensagem{
  color:greenyellow;
  margin-left:-2.5%;
}

.area{
  width:300px;
  margin-left:1%;
}

.men1{
  margin-left:-12%;
}

.men1:hover{
  background-color:rgb(9, 9, 8);
  color:rgb(13, 187, 236);
}

.men2:hover{
  background-color: black;
  color:rgb(13, 187, 236);
}

@media screen and (min-width:320px) and (max-width:768px) {

form{
  margin-top:30%;
}

.nome{
  margin-left:-15%;
}

.email{
  margin-left:-12%;
}

.mensagem{
  margin-left:-17%;
}

.area{
  width:315px;
  margin-left:-4%;
}

.men1{
  margin-left:-6%;
  width:165px;
}

.men2{
  width:153px;
}
}

@media screen and (min-width:1920px){
  form{
    color:white;
    margin-top:12%;
    text-align:center;
  }
  
  .nome{
    color:greenyellow;
    margin-left:-0.5%;
  }
  
  .email{
    color:greenyellow;
    margin-left:-0.1%;
  }
  
  .mensagem{
    color:greenyellow;
    margin-left:-0.9%;
  }
  
  .area{
    width:300px;
    margin-left:1%;
  }
  
  .men1{
    margin-left:-7.5%;
  }
}