/* PARA RESOLUÇÃO 1280x720*/

body{
  background-color: gray;
  margin:0;
}

.download{
  margin-top: -2%;
  color: rgb(8, 5, 5);
}

.aberto{
  margin-top: 3%;
  margin-left:0%;
  color: rgb(61, 242, 16);
}

.blue{
  margin-top:1%;
}

.msi{
  margin-top:1%;
}

.smart{
  margin-top:1%;
}

.obs{
  margin-top:1%;
}

.color{
  margin-top:1%;
}

@media screen and (min-width:320px) and (max-width:768px){

.download{
  color: aqua;
}

.aberto{
  margin-top: 9%;
  color: greenyellow;
}

}

@media screen and (min-width:1920px){

  body{
    margin:0;
  }

.download{
  margin-top:-1.2%;
}

.aberto{
  color:rgba(10, 10, 201, 0.497);
  text-align:center;
}
}